{% extends 'base.html' %}

{% load static %}


{% block content %}

    <h2>Analytics for {{ url.short_code }}</h2>

    <p><b>Total Clicks:</b> {{ total_clicks }}</p>

    <hr>

    <h3>Clicks Per Day (Last 30 Days)</h3>

    <canvas id="clickChart"></canvas>

    <hr>


    <h3>Top Referers</h3>


    <canvas id="refererChart"></canvas>

    <hr>

    <h3>Recent Clicks</h3>

    <table border="1">
        <tr>
            <th>Time</th>
            <th>IP</th>
            <th>Referer</th>
        </tr>

        {% for click in recent_clicks %}
        <tr>
            <td>{{ click.clicked_at }}</td>
            <td>{{ click.ip_address }}</td>
            <td>{{ click.referer|default:"Direct" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No recent clicks</td>
        </tr>
    {% endfor %}
    </table>

    <script src="{% static 'js/chart.js' %}"></script>

    <script>
        const clicksData = {{ clicks_per_day|safe }};
        const clickLabels = clicksData.map(item => item.day.split("T")[0]);
        const clickCounts = clicksData.map(item => item.count);

        new Chart(document.getElementById('clickChart'), {
            type: 'bar',
            data: {
                labels: clickLabels,
                datasets: [{
                    label: 'Clicks per Day',
                    data: clickCounts
                }]
            }
        });

        const refererData = {{ top_referers|safe }};
        const refererLabels = refererData.map(item => item.referer || "Direct");
        const refererCounts = refererData.map(item => item.count);

        new Chart(document.getElementById('refererChart'), {
            type: 'pie',
            data: {
                labels: refererLabels,
                datasets: [{
                    data: refererCounts
                }]
            }
        });
    </script>
    
{% endblock %}
    