{% extends 'base.html' %}


{% block content %}

    <h2>Dashboard</h2>

    <table border='1'>
        <tr>
            <th>Short Code</th>
            <th>Original URL</th>
            <th>Clicks</th>
            <th>Created</th>
        </tr>

        
        {% for url in urls %}
            <tr>
                <td><a href="/s/{{ url.short_code }}/">{{ url.short_code }}</a></td>
                <td>{{ url.original_url }}</td>
                <td>{{ url.click_count }}</td>
                <td>{{ url.created_at }}</td>
            </tr>
        {% endfor %}
            
    </table>
    
{% endblock %}
    